@font-face {
    font-family: "egyptian_all_capsregular";
    src: url("../Fonts/egptianAllCaps.ttf") format("truetype"),
        url("../Fonts/egptianallcaps-webfont.woff2") format("woff2"),
        url("../Fonts/egptianallcaps-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Freckle Face";
    src: url("../Fonts/FreckleFace-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
body {
    background-image: url("../Images/bgLPS.jpg");
    background-size: cover; /* Adjust the background size */
    background-repeat: no-repeat; /* Prevent the background from repeating */
}
h1 {
    color: #333;
}
.go-back-wrapper {
    text-align: left;
    width: 100%;
    padding-left: 20px; /* Adjust based on how far from the left edge you want the button */
}
.go-back {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #5a5454;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}
.go-back:hover {
    background-color: #807575;
}
.scoreboard {
    margin: 20px;
    font-size: 18px;
}
.title {
    font-family: "egyptian_all_capsregular", sans-serif;
    color: rgb(19, 214, 214);
    font-size: 72px; /* Adjust the size as needed */
    text-shadow: 2px 2px 4px #000000; /* This creates a shadow that's black and slightly blurred */
    letter-spacing: 2px; /* Adjust the spacing as needed */
}
.game button {
    margin-top: 30px; /* Moves buttons down */
    margin-right: 10px; /* Adds space to the right of each button */
    font-size: 18px; /* Increases the text size inside buttons */
    padding: 10px 20px; /* Increases button size */
    cursor: pointer; /* Changes cursor to pointer on hover for better user experience */
    transition: transform 0.3s ease; /* Smooth transition for interaction */
}
.game button:hover {
    transform: scale(1.1); /* Slightly enlarges the button on hover */
}
.game button {
    background: transparent;
    border: none; /* Removes the default border */
    padding: 0; /* Adjust padding as needed */
}
.game img,
.game input[type="image"] {
    background: none;
    border: none;
    width: 120px;
    height: auto;
    cursor: pointer; /* Changes the cursor to a pointer on hover */
}
.choices {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#instruction {
    font-family: "Freckle Face";
    color: #0c0404;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}
#anubisChoiceMessage {
    font-family: "Freckle Face";
    color: #5c0572;
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
}
.computer-choice-image {
    width: 120px;
    height: auto;
    object-fit: contain;
}
#result {
    font-family: "Freckle Face";
    font-size: 38px;
    color: #3d350a;
}
.anubis-outcome-image {
    background: transparent;
    width: 150px;
    height: auto;
    margin-top: 20px;
}
#outcomeText {
    color: #3d350a;
    font-size: 24px;
    margin-top: 10px;
    font-family: "Freckle Face", Arial, sans-serif;
}
